h2  {
    font-family: 'raleway';
    text-align: center;
    font-size: 30pt;

}
.
    
}
#authorSearch    {
margin-top: 15px;
margin-bottom: 15px;
}
.imgClass   {
margin-right: 11px;
margin-bottom: 22px;
float: left;
}

